extends layout

block content

    form(method='GET' action='/messages')
        input.form-control(type='hidden', name='owner', value=owner)
        input.form-control(type='hidden', name='other', value=other)
        h1 #{other}
        - var i = 0
        - while (i < results.messages.length)
            h3=results.senders[i] + ": " + results.messages[i++]