extends layout

block content
    script(type='text/javascript', src='/javascripts/map.js')
    script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`)

    h1 Create advertisement
    div#map
    form(method= 'GET', action='send-ad')
      #form-group
        label From:
        input#from-dest.form-control(name='from', type='text', placeholder='from', onchange=`formToMap('from')`)
        br
      #form-group
        label To:
        input#to-dest.form-control(name='to', type='text', placeholder='to', onchange=`formToMap('to')`)
      br
      #form-group
        label Date:
        input.form-control(name='date', type='date', min=`${today}`)
      br
      #form-group
        label Available seats:
        input.form-control(name='available_seats', type='number', placeholder='0')
      br
      #form-group
        label Leaving:
        input.form-control(name='departure', type='time')
      br
      #form-group
        label Arriving:
        input.form-control(name='arrival', type='time')
      br
      input.btn.btn.primary(type='submit', value='Create ad')