extends layout

block content
  #createadPage
    script(type='text/javascript', src='/javascripts/map.js')
    script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`)

    div#map
    #createForm
    form(method= 'GET', action='send-ad')
      #form-group
      .row
        .col
          label From:
          input#from-dest.form-control(name='from', type='text', placeholder='From', required, onchange=`formToMap('from')`)
          input#fromcoords(type='hidden', name='fromcoords')
        .col
          label To:
          input#to-dest.form-control(name='to', type='text', placeholder='To', required, onchange=`formToMap('to')`)
          input#tocoords(type='hidden', name='tocoords')

      #form-group
      .row
        .col
          label Date:
          input.form-control(name='date', type='date', required, min=`${today}`)
        .col
          label Available seats:
          input.form-control(name='available_seats', type='number', required, placeholder='0')
      #shadyForm
      .row
        .col
          label Leaving:
          input.form-control(name='departure', required, type='time')
        .col
          label Arriving:
          input.form-control(name='arrival', required, type='time')
      #createadPageButton
        input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Create ad')
