extends layout

block content
    h1 test
    form(method='POST' action='/')
      div.form-group
          input#from-dest.form-control(type='text', placeholder='from' name='from-dest')

      div.form-group
          input#from-dest.form-control(type='text', placeholder='to' name='to-dest')

      button.btn.btn-primary(type='submit') Submit

    table(style='width:40%', border='0')
      tr
        th Mon
        th Tue
        th Wed
        th Thu
        th Fri
        th Sat
        th Sun
      each week in month
          tr
            each day in week
              if day[0]
                td= day[0]
              else
                td= -1
