extends layout

block content
    script(type='text/javascript', src='/javascripts/map.js')
    script(async, defer, type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`)

    div(id='map')
    form(method='GET' action='/rides')
        #form-group
            input#from-dest.form-control(type='text', placeholder='Från', name='from-dest', onchange=`formToMap('from')`)

        #form-group
            input#to-dest.form-control(type='text', placeholder='Till', name='to-dest', onchange=`formToMap('to')`)
        
        #form-group
            input#date.form-control(type='date', min=`${today}`, name='date')

        button.btn.btn-primary(type='submit') Fortsätt
