extends layout

block content

	div(data-objData=data)

	h1= " advertisements"

	if data
		each ad, i in data
			p= "Result " + i + ": " + "From: " + ad.from + ", To: " + ad.to + ", Points:" + ad.points
			br
