doctype html
html
  head
    title CarLift
    link(rel='stylesheet' href='/bootstrap-4.3.1-dist/css/bootstrap.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel='stylesheet' href='/stylesheets/register.css')
    link(rel='stylesheet' href='/stylesheets/login.css')
    link(rel='stylesheet' href='/stylesheets/rides.css')
    link(rel='stylesheet' href='/stylesheets/createad.css')
    link(rel='stylesheet' href='/stylesheets/profile.css')
    link(rel='stylesheet' href='/stylesheets/editProfile.css')
    body
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        a.navbar-brand(href='/') CarLift
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse

          #navbarRight
            ul.navbar-nav.mr-auto
              if user
                li.nav-item.active
                  a.nav-link(href='/rides/create-ad')
                    | Create ad
                    span.sr-only (current)
              li.nav-item.active
                a.nav-link(href='/rides')
                  | Search all ads
                  span.sr-only (current)
              if user
                i.nav-item.active
                  a.nav-link(href='/rides/manage-users-ads')
                    | Journeys
                    span.sr-only (current)
              if user
                li.nav-item.active
                  a.nav-link(href='/users/logout')
                    | Logout
                    span.sr-only (current)
                li.nav-item.active
                  a.nav-link(href='/users/profile')
                    img.rounded-circle(src='/images/blank-profile-picture.png' width="22" height="22")
                    span.sr-only (current)
              else
                li.nav-item.active
                  a.nav-link(href='/users/login')
                    | Login
                    span.sr-only (current)
                li.nav-item.active
                  a.nav-link(href='/users/register')
                    | Sign up
                    span.sr-only (current)


      .container
      != messages('message',locals)
      block content
      br

      footer.footer.mt-auto.py-3.text-center
        .container
        span.text-muted Footer content here | Copyright &copy; 2019 CarLift |

    script(src='/bootstrap-4.3.1-dist/css/bootstrap.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
