extends layout

block content
  #loginPage
    #loginH1
      h1 Login
    form(method='POST', action='/users/login')
      #form-group
        input.form-control(name='username',type='text', placeholder='Username')
      #form-group
        input.form-control(name='password',type='password', placeholder='Password')
      br
      #loginSubmit
      input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Submit')
