extends layout

block content
  #loginPage
    #loginH1
      h1 Login
    form(method='POST', action='/users/login')
      #form-group
        label Username:
        input.form-control(name='username',type='text')
      #form-group
        label Password:
        input.form-control(name='password',type='password')
      br
      #loginSubmit
      input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Submit')
