extends layout

block content
    h1 Messages
    form(method='GET' action='/messages/eva')
        each chat in results
            each participant in chat.participants
                if participant!='eva'
                    a(href='/messages/eva/'+participant) #{participant}
                    br

            // each msg in chat.messages
            //     h3(align='middle')=msg