extends layout

block content
    h1 Messages
    form(method='GET' action='/messages')
        input.form-control(type='hidden', name='id', value=id)
        each chat in results
            each participant in chat.participants
                if participant!=id
                    a(href='/messages/'+id+'/'+participant) #{participant}
                    br