extends layout

block content
  .container
    #offerPage
      h1 Offer a ride

      h3 Where are you going?
      #journey
        p some form here


      h3 When are you leaving?
      #journeyTime
        p some calendar form here


      h3 Your planned trip
      #journeyMap
        p map of proposed journey here 
        img(src='/images/black.jpg' alt='black' width='360px' height='100px')



      #journeySubmit
      input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Submit')
