extends layout

block content
  #registerPage
    #registerH1
      h1 Sign Up
    #registerText
      p Fill in this form to create an account.
    .row.justify-content-center
      form(method= 'POST', action='/users/register')
        .row
          .col-xs-6.col-sm-6.col-md-6
            #form-group
              input.form-control(name='firstname', type='text', placeholder='First Name')
          .col-xs-6.col-sm-6.col-md-6
            #form-group
              input.form-control(name='lastname', type='text', placeholder='Surname')
        .row
          .col-xs-6.col-sm-6.col-md-6
            #form-group
              input.form-control(name='email', type='text', placeholder='Email')

          .col-xs-6.col-sm-6.col-md-6
            #form-group
              input.form-control(name='username', type='text', placeholder='Username')
        #form-group
          input.form-control(name='password', type='password', placeholder='Password')
        #form-group
          input.form-control(name='password2', type='password', placeholder='Confirm Password')
        br
        .col-md-6.offset-md-4
        input.btn.btn-secondary.bt-lg.btn-block(type='submit', value='Submit')
