#bookingPage {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 640px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
  padding-bottom: 5rem;
}


#bookingPage h1 {
  font-size: 2.4rem;
  color: #123456;
  margin-bottom: 20px;
}
