#offerPage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 1rem;


}


#offerPage h1 {
  font-size: 3.4rem;
  color: #123456;
  margin-bottom: 20px;
}



#journey {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
  padding-bottom: 5rem;
}



#journeyTime {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
  padding-bottom: 5rem;
}



#journeyMap {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
}


#journeySubmit{

  margin-top: 20px;

}
