.jumbotron {

  background: #f5f5f5 ;
  border-radius: 15px 50px;
  margin-top: 5%;
  margin-bottom: 5%;

}

#profilePage {
  margin-top: 45px;
}

#userDetails {
  margin-top: 30px;
  padding: 2rem;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  background: #ffffff;

}


#profilepageImage{
  margin-left: 80%;
  margin-bottom: 10px;
}

#profilepageImage img{
  border-radius: 50%;

}

#profilepageName{
  padding: 4px;
  float: right;
}

#profileButton {
  margin-top:30px;
}

.star {
  color: goldenrod;
  font-size: 2.0rem;
}
.star::before {
  content: '\2606'; /* star outline */
}
.star.rated::before {
  /* the style for a selected star */
  content: '\2605'; /* filled star */
}