#registerPage {

  margin-top: 5%;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
  padding-bottom: 5rem;
  max-width: 640px;
  margin-left:auto;
  margin-right:auto;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
  padding-bottom: 5rem;

}

#registerPage label {
  margin-top: 10px;
  margin-bottom: 10px;

}




#registerH1 {
  text-align: center;
  width: 100%;
  color: pink;
  margin-top: 30px;
  margin-bottom: 30px;
}

#registerText {
  text-align: center;
  width: 100;
  color: blue;
  margin-top: 20px;
  margin-bottom: 25px;
}
