

#ridePage {
  width: 70%;
  max-width: 500px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0.01em;
  padding: 2rem;
  padding-bottom: 5rem;
  background-color: #f5f5f5;
  border-radius: 15px 50px;
  
  position: absolute;
  top: 0;
  left: 10%;
}

#rideridePage #map{
  top: 0 ;
  width: 50%;
  height: 90%;
  position: absolute;
  margin-top: 5%;
  margin-bottom: 5%;
  right: 10%;
}

#upcomingRides {

}

#oldRides {
  
}

#ridePage h1{
  margin-top: 20px;
  margin-bottom: 45px;
}



#ridePageDate {
  margin-top: 20px !important;
}

#ridePageButton {
  margin-top: 20px !important;
}

a.mngOneAd {
  text-decoration: none;
  font-weight:bold;
}
a.mngOneAd:link {
  text-decoration: none;
}

a.mngOneAd:visited {
  text-decoration: none;
}

a.mngOneAd:hover {
  text-decoration: none;
}

a.mngOneAd:active {
  text-decoration: none;
}
